.grid {
    display: grid;
    grid-template-columns: 25% 25% 2fr 1fr;
    grid-template-rows: repeat(2, 200px);
    grid-gap: 10px 15px;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
  }
  
  .a {
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
  }
  
  .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }